<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
</head>
<body>
    <h1>Contact Page</h1>
    <form method="POST">
        <label for="title">Titulo</label>
        <input type="text" name="title" id="title" required>
        <br/>
        <label for="description">Descrição</label>
        <input type="text" name="description" id="description" required>
        <br/>
        <label for="status">Status</label>
        <input type="status" name="status" id="status">
        <br/>
        <label for="user_id">ID do Usuario Responsavel</label>
        <input type="user_id" name="user_id" id="user_id" required>
        <br/>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>